
/*=============================================
=            BUTTONS                         =
=============================================*/
/**
 *
 * Skip button
 *
 */

 .c-btn-skip{
    position: fixed;
    top: 0;
    right: 5vh;
}


/*=====  End of BUTTONS  ======*/

